<div class="col-md-6 offset-md-3">
    
    <h4 align="center" style="color:crimson;">Employee Detail's Page</h4>
    <div>
        <label><b>Employee ID:</b>&nbsp;</label>{{employee.id}}
    </div>
    <div>
        <label><b>Employee firstName:</b>&nbsp;</label>{{employee.firstName}}
    </div>
    <div>
        <label><b>Employee LastName:</b>&nbsp;</label>{{employee.lastName}}
    </div>
    <div>
        <label><b>Employee EmailID:</b>&nbsp;</label>{{employee.email}}
    </div>
    <button (click)="BackToViewPage()" class="btn btn-info" style="margin-left: 10px;">Back To View Page</button>

</div>
