<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees"  class="nav-link">Employee List</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="create-employee" class="nav-link">Add Employee</a>
        </li>
    </ul>



</nav>

<h3 class="text-center" style="color:deepskyblue">Welcome to Employee Management Application</h3>

<div class="container">

    <router-outlet></router-outlet>
    
</div>

<footer class="footer">
    <div class="container">
        <span><i style="color:red;" class="fa fa-heart" aria-hidden="true"></i>All Rights are reserved 2021 nitinabcdevelopment@gmail.com</span>
    </div>
</footer>